<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
        <%- include('partials/_header') %>
    <div class="container">
        <div class="jumbotron">
          <h1>Welcome to TinyApp</h1>
          <p class="lead"><b>Below are all of the shortened URLs that you have created!</b></p>
    </div>


    <div class="container">
      <table>
        <tr>
          <td><b>Short URL</b></td>
          <td><b>Leads to</b></td>
          <td align="center"><b>Destination URL</b></td>
          <td colspan="2" align="center"><b>Actions</b></td>
        </tr>
        <% for (let urlObj in currUrls) { %>
          <tr>
            <td>http://localhost:8080/u/<%= currUrls[urlObj].shortURL %></td>
            <td><b>===></b></td>
            <td><%= currUrls[urlObj].longURL %></td>
            <td>
            <form method="GET" action="/urls/<%= currUrls[urlObj].shortURL %>">
            <input type="submit" value="Modify">
            </form>
            </td>
            <td>
            <form method="POST" action="/urls/<%= currUrls[urlObj].shortURL %>/delete">
            <input type="submit" value="Delete">
            </form>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
    <div class="container">
      <h3><a href="/urls/new">Create a new shortened URL</a></h3>
    </div>
  </body>
<%- include('partials/_footer') %>
</html>