<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body>
    <div class="container">
        <%- include('partials/_header') %>
        <div class="jumbotron">
          <h1>Welcome to TinyApp</h1>
          <p class="lead">Below are all of the shortened URLs available!</p>
    </div>


    <div class="container">
      <table>
        <tr>
          <td><b>Short URL</b></td>
          <td><b>Leads to</b></td>
          <td align="center"><b>Destination URL</b></td>
          <td colspan="2" align="center"><b>Actions</b></td>
        </tr>
        <% for (let urlKey in urls) { %>
          <tr>
            <td><%= urlKey %></td>
            <td><b>===></b></td>
            <td><%= urls[urlKey] %></td>
            <td><a href="/urls/<%= urlKey %>">Modify</a>
            <td>
            <form method="POST" action="/urls/<%= urlKey %>/delete">
            <input type="submit" value="Delete">
            </form>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
    <div class="container">
      <h3><a href="/urls/new">Create a new shortened URL</a></h3>
    </div>
  </body>
</html>