<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .jumbotron {
        margin-top: 10px;
      }
      td {
        padding: 10px;
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <div class="container">
        <%- include('partials/_header') %>
        <div class="jumbotron">
          <h1>Welcome to TinyApp</h1>
          <p class="lead">Below are all of the shortened URLs available!</p>
    </div>


    <div class="container">
      <table>
        <tr>
          <td>Short URL</td>
          <td></td>
          <td>Destination URL</td>
        </tr>
        <% for (let urlKey in urls) { %>
          <tr>
            <td><%= urlKey %></td>
            <td>=====></td>
            <td><%= urls[urlKey] %></td>
            <td><a href="/urls/<%= urlKey %>">Modify</a>
            <td>
            <form method="POST" action="/urls/<%= urlKey %>/delete">
            <input type="submit" value="Delete">
            </form>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
    <div class="container">
      <h3><a href="/urls/new">Create a new shortened URL</a></h3>
    </div>
  </body>


</html>